
body {
  background-color: aliceblue;
}

.card-header {
  cursor: move;
  background-color: #c4dde6;
}

.card {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10;
  background-color: #ffffff;
}

.resize-handle {
  width: 15px;
  height: 15px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  z-index: 20;
}

#card-container {
  overflow: hidden;
}
